*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: "Sedan SC", serif;
  color: brown;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  text-align: center;
  margin: 0;
}

h2 {
  font-family: "Lobster Two", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: blue;
  text-align: center;
  margin-bottom: .5rem;
  margin-top: .5rem;
}

p {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  line-height: 1.5;
  color: brown;
  margin: 1rem auto;
  max-width: 500px;
  padding: 0 1rem;
}

